body {
  text-align: center;

  height: 100vh;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header      header  header"
    "sidebar-pri content content"
    "footer      footer  footer";
}

.main-header {
  grid-area: header;
}

.main-footer {
  grid-area: footer;
}

.primary-sidebar {
}

.primary-sidebar {
  grid-area: sidebar-pri;
  text-align: left;
  padding: 20px;
}

.content {
  grid-area: content;
  text-align: left;
}

table, th, td {
   border: 1px solid black;
   text-align: center;
}
