# Built binaries
/list-packages-with-newer-upstream-versions
/update-random-package
/autodeb-server
/autodeb-worker

# Other things created by the Makefile
/data
/dependency-graph-autodeb-server.svg

# stuff produced at runtime
/update-random-package-output-*
/database.sqlite
