# Built binaries
/list-packages-with-newer-upstream-versions
/update-random-package
/autodeb-server
/autodeb-worker

# test coverage
/coverage.txt

# Other things created by the Makefile
/data
/dependency-graph-*.svg

# stuff created at runtime
/jobs
/update-random-package-output-*
/database.sqlite
