{{ define "title" }}Archive Upgrades{{ end }}

{{ define "content" }}

<p>This page lists all archive upgrades:</p>

<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Package Count</th>
    </tr>

    {{ range $.Data.ArchiveUpgrades }}
    <tr>
        <td><a href="/archive-upgrades/{{ .ID }}">{{ .ID }}</a></td>
        <td>{{ .UserID }}</td>
        <td>{{ .PackageCount }}</td>
    </tr>
    {{ end }}

</table>

<div class="row">
    <div class="col">
        {{ if ge $.Data.PreviousPage 0 }}
        <a class="btn btn-outline-primary" href="?page={{ $.Data.PreviousPage }}">Previous</a>
        {{ else }}
        <button type="button" class="btn btn-outline-secondary" disabled>Previous</button>
        {{ end }}
    </div>
    <div class="col text-right">
        <a class="btn btn-outline-primary" href="?page={{ $.Data.NextPage }}">Next</a>
    </div>
</div>

{{ end }}
