<!DOCTYPE html>
<html>
    <head>
        <title>{{ block "title" . }}{{ end }}</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>

        <header class="main-header">
            <h1>autodeb</h1>
        </header>

        <aside class="primary-sidebar">

            <p>Main</p>
            <a href="/">Home</a><br>
            <a href="/uploads">Uploads</a><br>
            <a href="/jobs">Jobs</a>

            <p>Account</p>
            {{ if .User }}
                <a href="/profile">Profile ({{ .User.Username }})</a><br>
                <a href="/auth/logout">logout</a><br>
            {{ else }}
                <a href="/auth/login">Login</a><br>
            {{ end }}
        </aside>

        <main class="content">
            {{ template "content" . }}
        </main>

        <footer class="main-footer">
        </footer>

    </body>
</html>
