<!DOCTYPE html>
<html>
    <head>
        <title>{{ block "title" . }}{{ end }}</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <div class="container">


            <!-- Row1: HEADER -->
            <div class="row">
                <div class="col text-center">
                    <header>
                            <h1>autodeb</h1>
                    </header>
                </div>
            </div>

            <!-- Row2: [ SIDEBAR | CONTENT ] -->
            <div class="row">

                <!-- SIDEBAR -->
                <div class="col-sm-2">
                    <aside>
                        <p>Main</p>
                        <p>
                            <a href="/">Home</a><br>
                            <a href="/uploads">Uploads</a><br>
                            <a href="/jobs">Jobs</a>
                        </p>

                        <p>Account</p>
                        {{ if .User }}
                            <a href="/profile">Profile ({{ .User.Username }})</a><br>
                            <a href="/logout">logout</a><br>
                        {{ else }}
                            <a href="/login">Login</a><br>
                        {{ end }}
                    </aside>
                </div>

                <!-- CONTENT -->
                <div class="col-sm-10">
                    <main>
                        {{/* FLASHES */}}
                        {{ range $category, $messages := $.Flashes }}
                            {{ range $_, $message := $messages }}
                                <div class="alert alert-{{ $category }}">{{ $message }}</div>
                            {{ end }}
                        {{ end }}

                        {{ template "content" . }}
                    </main>
                </div>

            </div>

            <!-- Row3: Footer -->
            <div class="row">
                <div class="col text-center">
                    <footer>
                        <hr>
                        Autodeb - Copyright 2018 Alexandre Viau<br>
                        <a href="https://salsa.debian.org/autodeb-team">Source Code</a> -
                        <a href="https://salsa.debian.org/groups/autodeb-team/-/issues">Bug Tracker</a> -
                        <a href="https://salsa.debian.org/autodeb-team/autodeb#documentation">Documentation</a> -
                        <a href="https://salsa.debian.org/autodeb-team/autodeb#getting-in-touch">Contact</a>
                    </footer>
                </div>
            </div>

    </div>

    </body>
</html>
