{{ define "title" }}autodeb{{ end }}

{{ define "content" }}

<p>Hello, World!</p>

<p>
This server has a dput-compatible API. Try adding this to ~/.dput.cf:
</p>

<pre>
[autodeb]
fqdn = {{ .ServerURL }}
incoming = /upload
method = http
allow_unsigned_uploads = 1
allowed_distributions = .
</pre>

<p>
    Then, upload a package: "dput autodeb package.changes"
</p>

<p>
    If you have access to the server. Confirm that the files were received by
    looking at the "data" directory.
</p>

<p>
    Now, head over to /uploads and confirm that your upload is listed.
<p>

<p>
    This is it for now, but there is more to come.
</p>
{{ end }}
