{{ define "title" }}Jobs{{ end }}

{{ define "content" }}

<p>This page lists all jobs:</p>

<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Status</th>
        <th>Parent Type</th>
        <th>Parent ID</th>
        <th>Log</th>
    </tr>

    {{ range $.Data.Jobs }}
    <tr>
        <td><a href="/jobs/{{ .ID}}">{{ .ID }}</a></td>
        <td>{{ .Type }}</td>
        <td class="{{ .Status | jobStatusTableClass }}">{{ .Status }}</td>
        <td>{{ .ParentType }}</td>
        <td>{{ .ParentID }}</td>
        <td>
            <a href="/api/jobs/{{ .ID }}/log.txt">log (txt)</a>
        </td>
    </tr>
    {{ end }}

</table>

<div class="row">
    <div class="col">
        {{ if ge $.Data.PreviousPage 0 }}
        <a class="btn btn-outline-primary" href="?page={{ $.Data.PreviousPage }}">Previous</a>
        {{ else }}
        <button type="button" class="btn btn-outline-secondary" disabled>Previous</button>
        {{ end }}
    </div>
    <div class="col text-right">
        <a class="btn btn-outline-primary" href="?page={{ $.Data.NextPage }}">Next</a>
    </div>
</div>

{{ end }}
