{{ define "title" }}Jobs{{ end }}

{{ define "content" }}

<p>This page lists all jobs:</p>

<table class="table table-sm table-bordered table-hover table-condensed">
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Status</th>
        <th>Upload ID</th>
        <th>Log</th>
    </tr>

    {{ range $.Data.Jobs }}
    <tr>
        <td>{{ .ID }}</td>
        <td>{{ .Type }}</td>
        <td>{{ .Status }}</td>
        <td>{{ .UploadID }}</td>
        <td>
            <a href="/api/jobs/{{ .ID }}/log.txt">log (txt)</a>
        </td>
    </tr>
    {{ end }}

</table>

{{ end }}
