{{ define "title" }}Profile{{ end }}

{{ define "content" }}

<div class="row">
    <div class="col">
        <h2>User information</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-sm table-bordered table-hover table-condensed">
            <tr>
                <th>Username</th>
                <td>{{ .User.Username }}</td>
            </tr>
            <tr>
                <th>User ID</th>
                <td>{{ .User.ID }}</td>
            </tr>
        </table>
    </div>
</div>

{{ end }}
