{{ define "title" }}Uploads{{ end }}

{{ define "content" }}

<p>
    This page lists all uploads{{ if $.Data.UserID }} for user {{ $.Data.UserID }}{{ end }}:
</p>

<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Uploader ID</th>
        <th>Source Package</th>
        <th>Version</th>
        <th>Maintainer</th>
        <th>ChangedBy</th>
        <th>.changes</th>
    </tr>

    {{ range $.Data.Uploads }}
    <tr>
        <td><a href="/uploads/{{ .ID }}">{{ .ID }}</a></td>
        <td>{{ .UserID }}</td>
        <td>{{ .Source }}</td>
        <td>{{ .Version }}</td>
        <td>{{ .Maintainer }}</td>
        <td>{{ .ChangedBy }}</td>
        <td>
            <a href="/api/uploads/{{ .ID }}/package.changes">changes</a>
        </td>
    </tr>
    {{ end }}

</table>

<div class="row">
    <div class="col">
        {{ if ge $.Data.PreviousPage 0 }}
        <a class="btn btn-outline-primary" href="?page={{ $.Data.PreviousPage }}&user_id={{ $.Data.UserID }}">Previous</a>
        {{ else }}
        <button type="button" class="btn btn-outline-secondary" disabled>Previous</button>
        {{ end }}
    </div>
    <div class="col text-right">
        <a class="btn btn-outline-primary" href="?page={{ $.Data.NextPage }}&user_id={{ $.Data.UserID }}">Next</a>
    </div>
</div>

{{ end }}
